<div class="face-snap-card" [ngClass]="{ snapped: AlreadySnap }">
  <h2>{{ faceSnap.title | lowercase }}</h2>
  @if  (faceSnap.location){
    <p>la localisation est {{faceSnap.location}}</p>
  }@else{
    <p>la localisation est indisponible</p>
  }
  <img [src]="faceSnap.imageUrl" [alt]="faceSnap.title">
  <p>{{ faceSnap.description }}</p>
  <p>FaceSnap créée le {{ faceSnap.createdAt | date }}</p>
  <p>
    <button (click)="clickBoutton()">{{ textButton }}</button>
    <span [ngStyle]="{ color: 'rgb(0, ' + faceSnap.snaps + ', 0)' }">🤌 {{ faceSnap.snaps }}</span>
  </p>
</div>
